# gradio==5.25.0
# Using old version because hot-reload not working properly
gradio==5.24.0
opencv-contrib-python==4.11.0.86
numpy==1.26.4
pytesseract==0.3.13
easyocr==1.7.2

omegaconf==2.3.0
rembg==2.0.65
onnxruntime==1.21.0
